:root {
  --primary-color: #3a6ea5;
  --secondary-color: #ff9800;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --success-color: #28a745;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: opacity 0.2s ease-in;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  background: var(--secondary-color);
}

.text-center {
  text-align: center;
}

/* Header Styles */
#header {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  padding-right: 2rem;
}
@media screen and (max-width 750 px) {
  #navbar {
    align-items: flex-start;
    position: relative;
  }
  .container a {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
  }
  .menu-btn {
    display: flex;
  }
}
.menu-btn {
  display: none;
}
#navbar logo {
  padding-left: 3rem;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  text-transform: capitalize;
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  margin-left: 20px;
}

#navbar ul li a {
  color: var(--dark-color);
  font-weight: 500;
  transition: color 0.3s;
  font-size: 16px;
}

#navbar ul li a:hover {
  color: var(--primary-color);
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

#hero {
  /* Background image and overlay */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./1.jpg");
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-content {
  border: 2px solid red;
  align-self: center;
  justify-self: center;
  margin-left: 35rem;
  margin-top: 0;
  font-size: xx-large;
}

.container {
}
.about-us {
  margin-top: 4rem;
  text-align: center;
  align-self: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 15rem;
  font-size: larger;
}
.about-us h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-us p {
  color: rgb(70, 63, 63);
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.apartments {
  background-color: #b6b09f;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section .card {
  flex-direction: column;
  transition: transform 0.3s ease;
  margin: 3rem 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  border-radius: 10px;
  width: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover {
  transform: translateY(-10px);
}